name: Publish

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "22.x"

      - uses: pnpm/action-setup@v4

      - name: Build
        run: |
          pnpm install
          pnpm build --base=/azure-resource-namer/

      - name: Index.html
        run: cat dist/index.html

      - name: GitHub Pages
        uses: crazy-max/ghaction-github-pages@v4.2.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          build_dir: dist
          # committer: # optional
          # author: # optional
          # commit_message: # optional
          # fqdn: # optional
          jekyll: false # optional, default is true
          #dry_run: # optional, default is false
          #verbose: # optional, default is false
